---
interface Props {
  id: string;
  name: string;
}
const { id, name } = Astro.props;
---
<a href={`/accounts/${id}`}>{name}</a>

<style>
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
</style>
